{
    "icc": false,
    "debug": false,
    "disable-legacy-registry": true,
    "live-restore": false,
    "log-level": "info",
    "log-driver": "json-file",
    "log-opts": {
        "max-size": "10m",
        "max-file": "3",
        "labels": "com.docker.compose.container-number,com.docker.compose.project,com.docker.compose.service",
        "env": "PROJECT_NAME,IMAGE_NAME,SERVICE_NAME,CONTAINER_NAME,RELEASE_ID"
    },
    "userland-proxy": false
}
