DOCKER_OPTS='--icc=false --disable-legacy-registry=true --debug=false --log-level=info --log-driver=json-file --log-opt max-size=10m --log-opt max-file=3 --storage-driver=overlay2 --userland-proxy=false'

